.leaderboard-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #0cab66;
}

.search-bar-lb {
    width: 100%;
    padding: 10px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.quiz-suggestions {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.quiz-suggestions li {
    padding: 10px;
    cursor: pointer;
}

.quiz-suggestions li:hover {
    background-color: #f0f0f0;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.filters h2 {
    margin: 0;
}

.filters select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.leaderboard-table th {
    background-color: #4caf50;
    color: white;
}



.leaderboard-table tr:hover {
    background-color: #f1f1f1;
}